<% provide(:title, "Home") %>

<div class="center jumbotron topcover">
</div>
<%= link_to "Sign up now", '#', class: "btn btn-lg btn-primary center" %>
<%= link_to "Login as Guest", users_guest_sign_in_path, method: :post, class: "btn btn-lg btn-primary center" %>