- provide(:title, "Home")
.container-fluid.cover
  .row.cover
    .col-md-6.left
      .catch-message
        h1.display-3
          | Fun with Code
        h1.display-3
          | mdClip 
          i.fas.fa-paperclip
        h3
          | 伝えよう、もっとコードで。
      .cover-message
        p
          | mdClipはオンラインMarkdownエディタです
          br
          | 美しくハイライトされたコードと、共有可能なURLを生成
          br
          | ユーザー登録なしですぐに利用できます
        .btn-cover
          = link_to "Write now!", new_article_path, class: "btn btn-lg btn-primary btn-style-cover"
          = link_to "Guest user", users_guest_sign_in_path, method: :post, class: "btn btn-lg btn-primary btn-style-cover"
    .col-md-6
      .cover.right
        #img1.cover-img
          = image_tag asset_path('top1.svg', class: "img-fluid", id: "img1", alt: "fast")
          div
            h1
              | Fast & Easy
            p
              | すぐ書ける、どこでも、いつでも
        #img2.cover-img
          div
            h1
              | Share
            p
              | 共有する、届ける
          = image_tag asset_path('top2.svg', class: "img-fluid", id: "img2", alt: "share")
        #img3.cover-img
          = image_tag asset_path('top3.svg', class: "img-fluid", id: "img3", alt: "stock")
          div
            h1
              | Stock
            p
              | 忘れない、あなたの代わりに
