<a href="<%= article_path(article) %>" class="card">
  <div class="card-body">
    <h4 class="card-text"><%= article.title %></h4>
    <p>Accepted: <%= l article.created_at.in_time_zone('Tokyo'), format: :short %></p>
  </div>
</a>