@import "rouge";

/* custom color */
$midnight-green-eagle-green: #114b5fff;
$illuminating-emerald: #1a936fff;
$granny-smith-apple: #88d498ff;
$tea-green: #c6dabfff;
$champagne: #f3e9d2ff;

$gainsboro: #dcdcddff;
$silver: #c5c3c6ff;
$davys-grey: #46494cff;
$black-coral: #4c5c68ff;
$blue-munsell: #1985a1ff;

/* universal */

body {
  background-color: #4c5c68ff;
  color: whitesmoke;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

section {
  overflow: auto;
}

.style-important {
  background-color: #46494cff;
  opacity: 0.6;
}

a {
  color: whitesmoke;
  text-decoration: underline;
}

a:hover {
  color: white;
}

// textarea {
//   resize: vertical;
// }

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 2.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* components */

ul {
  list-style: none;
  padding-left: 1em;
}

ul li {}

div.alert {
  margin-bottom: 0px;
}

.btn-primary {
  background-color: #1985a1ff;
  border-color: #1985a1ff;
  color: white;
  text-decoration: none;
}

.card-body {
  color: #46494cff;
}

pre {
  padding: 14px;
}

.modal-content {
  color: #46494cff;
}

/* header */
header {
  height: 10vh;
  background-color: #1985a1ff;
}

header a {
  color: white;
  text-decoration: none;
}

#logo {
  vertical-align: middle;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  letter-spacing: -1px;
  font-weight: bold;
}

.fa-exclamation {
  vertical-align: text-top;
}

#logo:hover {
  text-decoration: none;
}

/* footer */
footer {
  background-color: #46494c;
  height: 80px;
  padding-top: 5px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer small {
  display: block;
  text-align: center;
}

/* home */
.cover.container-fluid {
  height: 80vh;
}

.cover-message {
  text-align: left;
  margin-top: 15%;
  margin-left: 15%;
}

.cover-message h1.display-1,
.cover-message p {
  color: #dcdcddff;
}

.cover-message p {
  line-height: 2;
}

.btn-cover {
  margin: 10% 0;
  display: flex;
}

.btn-style-cover {
  width: 150px;
  margin-right: 5%;
  background-color: #1985a1ff;
  border-color: #1985a1ff;
  color: #dcdcddff;
}

.cover-img {
  display: flex;
  justify-content: space-between;
  height: 24vh;
  margin: 2vh 0;
  padding: 20px;
  opacity: 0.9;
  color: #4c5c68ff;
  background-color: #dcdcddff;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.cover-img img {
  height: 100%;
}

.cover-img#img1,
.cover-img#img3 {
  text-align: right;
}

.cover-img#img2 {
  text-align: left;
}

/* Devise */
.devise-form {
  @extend .container-fluid;
  max-width: 60vw;
}

/* user-page */
.container.user-page {
  min-height: 90vh;
}

.pagination {
  justify-content: end;
}

/* editor form */
.editor {
  text-align: left;
}

.editor.container-fluid {
  height: 90vh;
}

.editor .form-control {
  background-color: #dcdcddff;
}

.editor-header {
  @extend .style-important;
  opacity: unset;
  height: 15vh;
  width: 100%;
  padding: 1vh 15px;
}

.editor-header h1 {
  margin-bottom: 0.2em;
  text-align: left;
}

.editor-header btn {
  width: 60%;
}

textarea.article-title {
  margin: 0;
  height: 13vh;
}

textarea.editor_parts {
  height: 70vh;
}

div.editor_parts {
  height: 70vh;
}


/* article viewer */
.article-view {
  text-align: left;
}

.article-view.container-fluid {
  min-height: 85vh;
  padding-top: 0px;
  padding-bottom: 0px;
}

.article-view .content {
  min-height: 80vh;
}

.article-title h1 {
  padding: 30px 0;
  border-bottom: 1px solid #dcdcddff;

}

.article-info,
.article-main,
.outline {
  padding: 20px 15px;
}



// h4.article-view {
//   text-align: center;
// }