@import "rouge";

/* custom color */
$midnight-green-eagle-green: #114b5fff;
$illuminating-emerald: #1a936fff;
$granny-smith-apple: #88d498ff;
$tea-green: #c6dabfff;
$champagne: #f3e9d2ff;

/* universal */

body {
  background-color: #f3e9d2;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
header {
  background-color: #1a936f;
}

header a {
  color: #fff;
}

#logo {
  vertical-align: middle;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}

.fa-exclamation {
  vertical-align: text-top;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */
footer {
  margin-top: 30px;
  background-color: #114b5f;
  height: 80px;
  padding-top: 5px;
  color: #fff;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #222;
}

footer small {
  display: block;
  text-align: center;
}

/* home */
.topcover {
  height: 600px;
  margin-top: 30px;
  background-image: url("/images/top_cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Devise */
.devise-form {
  @extend .container-fluid;
  max-width: 60vw;
}

/* user-show */
.container-fluid {
  padding: 10px 30px;
}

.pagination {
  justify-content: end;
}

/* editor form */
.editor-form {
  text-align: left;
}

.editor-form.container-fluid {
  height: 90vh;
  padding: 10px 30px;
}

h1.editor-form {
  margin: 10px 0;
  text-align: right;
}

textarea#article_title {
  height: 6em;
}

textarea.editor_parts {
  height: 65vh;
}

div.editor_parts {
  height: 65vh;
}

.editor_parts#preview_area {
  background-color: whitesmoke;
}

/* article viewer */
.article-view {
  text-align: left;
  background-color: whitesmoke;
}

.article-view.container {
  margin: 15px auto;
}

// h4.article-view {
//   text-align: center;
// }