/* custom color */
$gainsboro: #dcdcddff;
$silver: #c5c3c6ff;
$davys-grey: #46494cff;
$black-coral: #4c5c68ff;
$blue-munsell: #1985a1ff;

/* global */
$header-height: 60px;
$footer-height: 40px;

body {
  background-color: #4c5c68ff;
  color: whitesmoke;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

section {
  overflow: auto;
}

.style-important {
  background-color: rgba(70, 73, 76, 0.6);
  opacity: 0.8;
}

a {
  color: whitesmoke;
  text-decoration: underline;
}

a:hover {
  color: white;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 2.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* components */

ul {
  list-style: none;
  padding-left: 1em;
}

div.alert {
  margin-bottom: 0px;
}

.btn-primary {
  background-color: #1985a1ff;
  border-color: #1985a1ff;
  color: white;
  text-decoration: none;
}

.card {
  @extend .style-important;
  margin: 1em 2em;
  padding: 1em 2em;
  text-decoration: none;

  .card-body {
    padding: 0;

    h4 {
      margin-bottom: 1em;
    }

    p {
      text-align: right;
      font-size: 0.8em;
      margin-bottom: 0px;
    }
  }
}

.article-style {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5,
  h6,
  p {
    font-size: 1rem;
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  ul {
    list-style: disc;
  }
}

pre {
  padding: 14px;
  background-color: #232323;
  color: #dcdcdc;
  opacity: 0.9;
}

code {
  padding: 0 0.3em;
  background-color: #232323;
  color: #dcdcdc;
}

.modal-content {
  color: #46494cff;
}

div.with_copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  background-color: whitesmoke;
}

button.btn-copy {
  padding: 0;
  border: unset;
  background-color: unset;
  color: unset;
}

/* header */
header {
  height: $header-height;
  background-color: #1985a1ff;

  a {
    color: white;
    text-decoration: none;
  }
}

.nav-header {
  padding: 0 30px;
}

#logo {
  vertical-align: middle;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  letter-spacing: -1px;
  font-weight: bold;
}

/* body */
.contents {
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
}

/* footer */
footer {
  background-color: #46494c;
  height: $footer-height;

  a {
    color: white;
    text-decoration: none;
  }
  .nav-link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* home */
.cover.container-fluid {
  min-height: 80vh;
}

.catch-message {
  margin: 10%;
}

.cover-message {
  text-align: left;
  margin-left: 10%;
}

.cover-message h1.display-1,
.cover-message p {
  color: #dcdcddff;
}

.cover-message p {
  line-height: 2;
}

.btn-cover {
  margin: 6% 0;
  display: flex;
}

.btn-style-cover {
  width: 150px;
  margin-right: 5%;
  background-color: #1985a1ff;
  border-color: #1985a1ff;
  color: #dcdcddff;
}

.cover-img {
  display: flex;
  justify-content: space-between;
  height: 24vh;
  margin: 2vh 0;
  padding: 20px;
  opacity: 0.9;
  color: #4c5c68ff;
  background-color: #dcdcddff;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.cover-img img {
  height: 100%;
}

.cover-img#img1,
.cover-img#img3 {
  text-align: right;
}

.cover-img#img2 {
  text-align: left;
}

/* Devise */
.devise-form {
  max-width: 500px;
  margin: 20px auto;

  .text-muted {
    color: whitesmoke !important;
  }
}

/* user-page */
.user-page {
  min-height: 90vh;

  .navbar {
    margin: 20px 0;
    padding: 0.5em 0;

    h2 {
      margin-bottom: 0px;
    }

    input#search {
      margin-right: 10px;
    }
  }

  .articles-header {
    margin-left: 2em;
  }

  .pagination {
    justify-content: end;
  }
}

/* editor form */
.editor {
  $editor-height: calc(100vh - #{$header-height} - #{$footer-height});
  $editor-footer-height: 40px;
  height: $editor-height;
  text-align: left;

  .editor-footer {
    height: $editor-footer-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-group {
    height: 100%;
    margin-bottom: 0;

    .invalid-feedback {
      text-align: right;
    }
  }

  .editor-body {
    height: calc(#{$editor-height} - #{$editor-footer-height});
    $height-title-area: 5em;

    .title-area {
      height: $height-title-area;

      .textarea-title {
        height: 4em;
        margin: 0.5em 0;
      }
    }

    .input-area,
    .preview-area {
      position: relative;
      height: calc(100% - #{$height-title-area});

      label {
        position: absolute;
        height: 1.8em;
        margin: 0;
        padding: 0 10px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
      }

      .textarea-content,
      .textarea-perview {
        height: 100%;
        padding-top: 2em;
      }
    }

    textarea {
      @extend .style-important;
      resize: none;
      color: whitesmoke;
    }
  }

  .btn-submit-editor {
    font-size: 1em;
    width: 200px;
    padding: 2px 20px;
  }
}

/* article viewer */
.article-view {
  text-align: left;
  min-height: calc(100vh - #{$header-height});
  padding-top: 0px;
  padding-bottom: 0px;

  .content {
    min-height: calc(100vh - #{$header-height});
  }

  .article-title h1 {
    padding: 30px 0;
    border-bottom: 1px solid #dcdcddff;
  }

  .article-info,
  .article-main,
  .outline {
    padding: 20px 15px;
  }
}
