<% flash.each do |msg_type, msg| %>
<div class="modal fade" id="modal_initial" tabindex="-1" role="dialog" aria-labelledby="modal_initialCenterTitle"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_initialCenterTitle" %>Article was successfully created.
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                記事固有URL
                <div class="form-control with_copy">
                    <%= request.url %>
                    <button type="button" class="far fa-clipboard btn-copy" id="btn-copy-modal"
                        data-clipboard-text="<%= request.url %>"></button>
                </div>
                記事固有キー（記事の編集、削除に必要です）
                <div class="form-control with_copy">
                    <%= msg %>
                    <button type="button" class="far fa-clipboard btn-copy" id="btn-copy-modal"
                        data-clipboard-text="<%= msg %>"></button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Confirmed</button>
            </div>
        </div>
    </div>
</div>
<% end %>